[Desktop Entry]
Name=i3lock
Exec=xautolock -detectsleep -time 5 -locker "i3lock -dc 000000"
Icon=application-default-icon
X-GNOME-Autostart-enabled=true
Type=application
