# Section
snippet sec \section
    \section{${1:section name}}
    \label{sec:${2:$1}}
    ${0}
# Section without number
snippet sec* \section*
    \section*{${1:section name}}
    \label{sec:${2:$1}}
    ${0}
# Sub Section
snippet sub \subsection
    \subsection{${1:subsection name}}
    \label{sub:${2:$1}}
    ${0}
# Sub Section without number
snippet sub* \subsection*
    \subsection*{${1:subsection name}}
    \label{sub:${2:$1}}
    ${0}

